---
layout: template
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">All stories</a></li>
    <li class="breadcrumb-item"><a href="{{ site.github.url }}/{{ page.permalink}}">{{ page.title }}</a></li>
  </ol>
</nav>

<h1>{{ page.title }}</h1>
<p class="lead">
	In this page, you'll find images from Don Rosa's comic “{{ page.title }}”.<br />
	By clicking on the button below each picture, you can display the <em>"<abbr title="Dedicated to Uncle Carl by Keno">D.U.C.K.</abbr>"</em> dedication.
</p>
<p>As a game, Don Rosa hid the four letters in most of his artworks, and fans had a blast looking for them in the pictures.</p>
{% for image in page.images %}
	<h2 id="{{image[0]|slugify}}">{{ image[0] |capitalize }}</h2>
	<div id="{{image[0]|slugify}}-image">
		{% if image[1].comment %}
		<div class="alert alert-secondary" role="alert">
		  {{image[1].comment}}
		</div>
		{% elsif image[1].duck == blank %}
		<div class="alert alert-secondary" role="alert">
		  D.U.C.K. not found. Think you have it? Send an email at <tt>duck@neamar.fr</tt>!
		</div>
		{% endif %}
		<img src="{{ site.github.url }}/{{ image[1].image }}" alt="{{ page.title }} {{ image[0] }}" class="artwork" />
		{% if image[1].duck %}
		<p class="text-center toggle-dedication">
			<a class="btn btn-primary" role="button" href="javascript:show('{{image[0]|slugify}}')">Click to highlight the D.U.C.K dedication</a>
		</p>
		{% endif %}
	</div>

	{% if image[1].duck %}
	<div id="{{image[0]|slugify}}-duck" style="display: none">
		<img src="{{ site.github.url }}/{{ image[1].duck }}" alt="D.U.C.K in {{ page.title }} {{ image[0] }}" class="artwork" />
		<p class="text-center">
			<a class="btn btn-primary" role="button" href="javascript:hide('{{image[0]|slugify}}')">Click to go back to original</a>
		</p>
	</div>
	{% endif %}
{% endfor %}

<div class="alert alert-light" role="alert">
  This site is an uncommercial fanpage.<br />
  Comic images available from these pages are © The Walt Disney Company.
</div>

<script>
function show(id) {
	document.getElementById(id + "-image").style.display = "none";
	document.getElementById(id + "-duck").style.display = "block";
	return false;
}

function hide(id) {
	document.getElementById(id + "-image").style.display = "block";
	document.getElementById(id + "-duck").style.display = "none";
	return false;
}
</script>
