---
layout: template
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">All stories</a></li>
    <li class="breadcrumb-item"><a href="/{{ page.permalink }}">{{ page.title }}</a></li>
  </ol>
</nav>

<h1>{{ page.title }}</h1>

<p class="lead">You'll find here all the pictures for which we were unable to find the D.U.C.K dedication.</p>

<p>
  For all we know, this could be because the dedication was removed due to inking, coloring or other printing constraints.<br />
  Or it might be super hard to find in a low-quality scan.<br />
  Or it might be super obvious to you!
<p>

<p>But if you're willing to search, and you get lucky, drop me an email at <tt>duck@neamar.fr</tt> and I'll update those pages! (I'm also interested if you have higher resolution scans)</p>

<p>Happy hunting!</p>

<p class="small">(<a href="{% link index.md %}">would you rather see all the images?</a>)</p>

<div class="artworks">
{% for artwork in site.pages %}
  {% assign should_display=false %}
  {% for image in artwork.images %}
    {% if image[1].duck == nil and image[1].no_duck == nil %}
      {% assign should_display=true %}
    {% endif %}
  {% endfor %}

  {% if should_display == true %}
    <h2>
      <a href="{{ site.github.url }}/{{ artwork.permalink }}" title="DUCK dedication in {{ artwork.title}}">{{ artwork.title }}</a>
    </h2>

    {% for image in artwork.images %}
      {% if image[1].duck == nil %}
        <a href="{{ site.github.url }}/{{ artwork.permalink }}#{{ image[0] | slugify }}"><img src="/{{ image[1].thumbnail }}" alt="Thumbnail: {{ artwork.title }} {{ image[0] }}" /></a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</div>

<div class="alert alert-light" role="alert">
  This site is an uncommercial fanpage.
  Comic images available from these pages are © The Walt Disney Company. They are provided for purposes of study and reference only. Disney's copyright is acknowledged and respected. Nothing shown in these pages is meant as a Copyright Infringement.
</div>
