<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" media="all" href="/design.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
</head>
<body>
  <div class="container-fluid wrapper">
    <div class="row">
      <header class="col-12 col-md-3 col-xl-2 menu">
        <h3>D.U.C.K</h3>

        <div class="list-group artwork-list">
        {% for artwork in site.pages %}
          {% assign comparison = "/" | append: artwork.permalink %}
          <a class="list-group-item list-group-action small {% if page.url == comparison %}active{% endif %}" href="{{ site.github.url }}/{{ artwork.permalink }}" title="DUCK dedication in {{ artwork.title}}">{{ artwork.title }}</a></li>
        {% endfor %}
        </ul>
      </header>

      <main class="col-12 col-md-9 col-xl-8 offset-xl-1 content">
        {{ content }}
      </div>
    </div>
  </div>
</body>
