<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" media="all" href="design.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
</head>
<body>
  <div class="container-fluid wrapper">
    <div class="row">
      <header class="col-12 col-md-3 col-xl-2 menu">
        <h3>D.U.C.K</h3>
      </header>

      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 content">
        {{ content }}
      </div>
    </div>
  </div>
</body>
