<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" media="all" href="/css/design.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png">
  <title>{% if page.layout == "artwork" %}
    "{{ page.title }}" by Don Rosa | D.U.C.K. dedication
  {% else %}
    {{ page.title }}
  {% endif %}
  </title>
</head>
<body>
  <div class="container-fluid wrapper">
    <div class="row">
      <main class="col-12 col-md-9 col-xl-8 offset-xl-1 order-md-2 order-1 content">
        {{ content }}
      </main>

      <header class="col-12 col-md-3 col-xl-2 order-md-1 order-2 menu">
        <h3>D.U.C.K</h3>
        <a href="/">Home page</a>
        <div class="list-group artwork-list">
        {% for artwork in site.pages %}
          {% if artwork.layout == "artwork" %}
            {% assign comparison = "/" | append: artwork.permalink %}
            <a class="list-group-item list-group-action small {% if page.url == comparison %}active{% endif %}" href="{{ site.github.url }}/{{ artwork.permalink }}" title="DUCK dedication in {{ artwork.title}}">{{ artwork.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</body>
